<html>
    <head>
        <link href="/static/css/Login.css" rel="stylesheet">
    </head>
    <body>
        <div class="login">
            <h1>카메라 등록</h1>
            <form action = "/cctv_insert" method="POST">
                
                <input type="text" name="cctv_id" placeholder="고유번호">
                <input type="text" name="cctv_name" placeholder="cctv_name">
                <input type="text" name="latitude" placeholder="latitude">
                <input type="text" name="longitude" placeholder="Longitude">
                <input type="text" name="url" placeholder="url"> <!--**********나중에 빼야함**********-->
                <input type="text" name="" placeholder="url">
                <button type="submit" class="btn btn-primary btn-block btn-large">등록하기.</button>
            </form>
        </div>
    </body>
</html>