<html>
    <head>
        <link href="/static/css/Login.css" rel="stylesheet">
    </head>
    <!--ss-->
    <body>
        <div class="login">
            <h1>Sign Up</h1>
            <form>
                {% if check == 'o' %}
                    <script>
                        var userid = {{userid | tojson}};
                        alert("사용할 수 있는 ID입니다.");
                        document.write('<input type="text" name="id" value='+userid+' readonly>');
                    </script>
                {% elif check == 'x' %}
                    <script>
                        alert("사용할 수 없는 ID입니다.");
                    </script>
                    <input type="text" name="id" placeholder="id">
                    <button type="submit" formaction="/ID_check" formmethod="POST" class="btn btn-primary btn-block btn-large">ID 중복확인</button>
                {% else %}
                    <input type="text" name="id" placeholder="id">
                    <button type="submit" formaction="/ID_check" formmethod="POST" class="btn btn-primary btn-block btn-large">ID 중복확인</button>
                {% endif %}

                <input type="password" name="pw" placeholder="pw">
                <input type="email" name="mail" placeholder="mail">

                {% if check == 'o' %}
                    <script>
                        document.write('<button type="submit" formaction="/member_insert" formmethod="POST" class="btn btn-primary btn-block btn-large">Sign Up now.</button>');
                    </script>
                {% elif check == 'x' %}
                    <script>
                        document.write('<button type="submit" formaction="/login" formmethod="POST" class="btn btn-primary btn-block btn-large">Sign Up now.</button>');
                    </script>
                {% else %}
                <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up now.</button>
                {% endif %}
                <!-- <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up now.</button> -->
            </form>
        </div>
    </body>
</html>